@charset 'utf-8';

/* -----main----- */
.main_wrap .main_bg {
  background: rgba(221, 254, 4, 0.5) url(./images/grangpreview.png) no-repeat
    50% / 60%;
}
/* -----Design----- */
.design_key li {
  border-radius: 0 50px 10px 20px;
  background: url(images/text_bg.PNG) no-repeat 50% /150%;
}
.design_font .design_txt h3 span {
  font-size: 16px;
  margin-left: 10px;
  font-weight: 400;
}
.design_color menu li:nth-child(1) {
  background-color: #fdfbf4;
}
.design_color menu li:nth-child(2) {
  background-color: #131313;
  color: #fff;
}
.design_color menu li:nth-child(3) {
  background-color: #c7aa90;
}
.design_color menu li:nth-child(4) {
  background-color: #3f303d;
  color: #fff;
  border-top-right-radius: 50px;
}

.paper {
  margin-left: 50px;
}
.design_txt .font_w menu {
  text-align: center;
}
.design_txt .font_w menu li {
  margin-bottom: 20px;
}
.design_font .design_txt h3 {
  margin-bottom: 70px;
}
/* -----폰트설정----- */

.pre_font menu li:nth-child(1) {
  font-weight: 300;
}
.pre_font menu li:nth-child(2) {
  font-weight: 400;
}
.pre_font menu li:nth-child(3) {
  font-weight: 500;
}
.pre_font menu li:nth-child(4) {
  font-weight: 700;
}

.pop_font {
  font-family: "Poppins";
}
.pop_font ul li:nth-child(3) {
  min-width: 290px;
}
.pop_font menu li:nth-child(1) {
  font-weight: 400;
}
.pop_font menu li:nth-child(2) {
  font-weight: 500;
}
.pop_font menu li:nth-child(3) {
  font-weight: 600;
}
.pop_font menu li:nth-child(4) {
  font-weight: 700;
}
/* -----Publishing----- */
.Publ_wrap ul li {
  margin-bottom: 25px;
  margin-left: 30px;
}
.Publ_wrap p {
  margin-bottom: 35px;
}
