@charset "utf-8";

body {
  height: 100vh;
  width: 100%;
  background-color: var(--bg-color);
  font-family: var(--en-txt-font);
  color: var(--txt-color);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.flex {
  display: flex;
}

/***** header *****/
.header_bar {
  position: fixed;
  top: 0;
  left: 1%;
  text-transform: uppercase;
  width: 98%;
  margin: 10px auto;
  height: 50px;
  /* background-color: var(--bg-color); */
  justify-content: space-between;
  font-size: var(--font-size-20);
  z-index: 9999;
  transition: 0.5s;
}
.header_bar .logo {
  background: #ffffff url(../common/logo.png) no-repeat 50% / 80%;
  width: 10%;
  border-radius: 5px;
  text-indent: -9999pc;
}
.header_bar a {
  display: block;
  width: 100%;
  height: 100%;
}
.header_bar ul {
  background-color: #ffffff;
  border-radius: 5px;
  width: 68%;
  justify-content: space-around;
  align-items: center;
}
.header_bar .private {
  justify-content: space-around;
  background-color: #ffffff;
  width: 20%;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
}
/***** cart *****/
.cart {
  flex-direction: column;
  align-items: center;
  padding: 160px 0 235px;
  text-transform: uppercase;
}
.cart img {
  width: 50px;
  margin: 30px 0 10px;
  transform: rotate(-17deg);
}
.cart h2 {
  font-weight: bold;
  font-size: var(--font-size-50);
}
.cart h3 {
  font-family: var(--kr-sub-font);
  font-size: var(--font-size-28);
  margin: 50px 0 60px;
}
.cart button {
  border: 1px solid #131313;
  padding: 15px 0;
  font-size: var(--font-size-28);
  font-family: var(--en-txt-font);
  width: 400px;
  text-transform: uppercase;
  margin-bottom: 20px;
  transition: 0.4s;
}
.cart button:hover {
  background-color: var(--txt-color);
  color: var(--bg-color);
}
.cart button a {
  display: block;
}
/***** footer *****/
footer {
  text-transform: uppercase;
  width: 98%;
  margin: 0 auto 20px;
}
footer .footer_info {
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--txt-color);
  border-bottom: 1px solid var(--txt-color);
  padding: 10px;
}
footer .footer_info ul {
  justify-content: space-around;
  width: 20%;
  color: var(--txt-color);
  font-weight: 700;
}
footer .footer_info h3 {
  color: var(--txt-sub-color);
  width: 40%;
}
footer .footer_info h3:last-child {
  text-align: right;
}
