@charset 'utf-8';

.btn_more a {
  max-width: 300px;
  margin: 0 auto;
  font-size: calc(18px + 0.1vw);
}

.word {
  font-size: calc(30px + 2vw);
}
.title {
  max-height: calc(30px + 2.1vw);
}
.txt_wrap {
  margin: 15vw 0;
}
.txt_wrap h3 {
  font-size: 20px;
  margin: 6vw auto;
}
.txt_wrap h3 span {
  display: inline-block;
}
.info_wrap,
.exhibi_wrap,
.docent_wrap {
  flex-direction: row;
}

.info_box .local p {
  width: 100%;
}
/* -----main----- */
.main_wrap .logo_img {
  width: calc(150px + 3vw);
  background: url(./images/logo_box.png) no-repeat 50% / contain;
}
.main_title {
  font-size: calc(2.7rem + 1vw);
}
/* -----info----- */
.info_left,
.info_right {
  height: 95vh;
  margin: 0;
}
.info_wrap,
.exhibi_wrap {
  height: 95vh;
  margin: 0;
}
.info_left {
  margin: 30px 0;
}
.info_wrap {
  padding: 0;
}
.info_txt {
  width: 80%;
  margin: 0 auto;
}
.info_txt h2,
.exhibi_txt h2 {
  font-size: calc(32px + 0.1vw);
  margin: 1vw 0 3vw;
}

.info_txt p,
.exhibi_txt p {
  font-family: "pretendardvariable";
  font-size: calc(16px + 0.1vw);
}
.info_box {
  margin: 0;
  font-size: calc(14px + 0.1vw);
}
.info_box h2 {
  /* font-size: calc(16px + 1vw); */
  font-size: calc(24px + 0.1vw);
  margin-bottom: 1vw;
  font-family: "MuseumClassic";
  font-weight: 700;
}
/* -----exhibi----- */
.exhibi_left,
.exhibi_right {
  justify-content: space-between;
  height: 95vh;
}

.exhibi_txt p {
  width: 80%;
  margin: 0 auto;
}
/* -----docent----- */
.docent_container {
  text-align: center;
}
.docent_container h1 {
  margin: 10vw 0 5vw 0;
}
.docent_container > p {
  width: 60%;
  font-size: calc(20px + 0.1vw);
  margin-bottom: 10vw;
}
.docent_wrap .docent_left {
  width: 32%;
}
.docent_wrap .docent_right {
  width: 67%;
  display: block;
}
.docent_txt {
  width: 77%;
}
.docent_txt h2 {
  font-size: calc(25px + 0.1vw);
}
.docent_txt > p {
  font-size: calc(16px + 0.1vw);
  width: 90%;
  margin: 0 auto;
}
.docent_txt .docent_plus {
  font-size: calc(14px + 0.1vw);
}
.docent_txt .btn_more a {
  min-width: 222px;
  max-width: 350px;
}
/* -----hanok----- */
.hanok_wrap .swiper-button-next::after,
.hanok_wrap .swiper-button-prev::after {
  display: block;
}
.mySwiper3 .swiper-button-prev {
  display: block;
  margin-right: 20px;
}
.mySwiper3 .swiper-button-next {
  display: block;
  margin-right: 40px;
}
.news_card_content p,
.news_card_content h2,
.news_card_content .flex {
  font-size: calc(18px + 0.1vw);
}
.news_card_content .rod {
  margin-bottom: 50px;
}
.news_card_content h1 {
  font-size: calc(27px + 0.1vw);
  margin: 50px 0;
}
.news_card_content p {
}
.news_card_content h2 {
  margin-bottom: 30px;
}
.swiper-slide .news_card:hover {
  opacity: 1;
}
.news_card_content .flex {
  margin-top: 50px;
}

/* -----sumit----- */
.sumit_container {
  padding-bottom: 10vw;
}
.sumit_wrap {
  width: 60%;
}
.sumit_wrap input {
  font-size: calc(18px + 0.1vw);
  width: 49%;
}
.sumit_wrap .dropdown {
  font-size: calc(18px + 0.1vw);
}
#divi_dropdown {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='27' viewBox='0 0 24 27' fill='none'%3E%3Cpath d='M22 14.8564L13.4142 23.4422C12.6332 24.2233 11.3668 24.2233 10.5858 23.4422L2 14.8564' stroke='black' stroke-width='2'/%3E%3Cpath d='M12 24.1429V2' stroke='black' stroke-width='2'/%3E%3C/svg%3E")
    no-repeat 97% 50% / 2.5%;
}
.sumit_wrap #mes {
  width: 100%;
}
#num_dropdown {
  width: 49%;
}
.sec,
.fri {
  flex-direction: row;
  justify-content: space-between;
}

.mx-checkbox + label:before {
  margin-right: 2vw;
}

.radio_box {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* -----foot----- */

.footop {
  height: 120px;
  top: -60px;
}
.foot_logo {
  width: 20%;
}
.foot_box ul li:nth-child(even) {
  display: block;
}
.foot_box ul {
  flex-direction: row;
  justify-content: center;
  font-size: calc(2rem + 0.5vw);
  gap: 3.2vw;
}
.foot_box h3 a,
.btn_go {
  font-size: 1.5rem;
}
.foot_box h3 {
  margin-top: 4vw;
}

.foot_box {
  padding: 10vw 0px 3vw;
}
