@charset 'utf-8';
html {
  background-color: #f8f7f6;
  font-family: "ChosunilboNM", -apple-system, BlinkMacSystemFont,
    "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;

  /*HSBombaram , MuseumClassic */
}
.grid {
  display: grid;
}
.flex {
  display: flex;
}
span {
  display: block;
}

h1 {
  font-family: "HSBombaram";
  text-align: center;
  margin-bottom: 10vw;
  font-size: calc(25px + 1vw);
}
h2 {
  font-family: "HSBombaram";
}
section {
  margin: 7vh 0;
}
/* -------main------- */
.main_container {
  width: 100%;
  height: 100vh;
  background: url(./images/main.png) no-repeat 50% / cover;
}
.main_wrap {
  width: 90%;
}
.main_title {
  width: 100%;
  justify-content: center;
  align-content: center;
  gap: 2.5vw;
}
.main_wrap .logo_img {
  width: calc(80px + 3vw);
  aspect-ratio: 1;
  background: url(./images/cf118ab283001.jpeg);
}
.main_title {
  font-family: "HSBombaram";
  font-size: calc(2rem + 1vw);
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* title */
.txt_wrap {
  margin: calc(50px + 2vw) 0;
}
.txt_wrap .word {
  font-family: "HSBombaram";
}
.txt_wrap h3 {
  font-size: calc(13px + 1vw);
  text-align: center;
}
/* -----info----- */

.info_wrap {
  width: 100%;
  background-color: #f4f0ed;
  /* background-color: #ffa0a0; */
  padding: 7vw 0;
  flex-flow: column-reverse;
}
.info_left,
.info_right {
  width: 90%;
  /* height: 90vh; */
  margin: 0 auto;
}
.info_left {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
.info_right {
  background-color: #f6f5f3;
  border-radius: 20px;

  position: relative;
  overflow: hidden;
}
/* txt */
.info_left {
  /* background-color: #f87979; */
  text-align: center;
  margin-top: 7vw;
}
.info_txt h2 {
  font-size: calc(20px + 1vw);
  margin: 5vw 0 10vw;
}
.info_txt p {
  font-size: calc(14px + 1vw);
}
.info_txt .info_box {
  /* font-family: "MuseumClassic"; */
  font-weight: 400;
  margin: 10vw 0;
}
.info_txt .info_box h2 {
  font-size: calc(16px + 1vw);
  margin-bottom: 3vw;
  font-family: "MuseumClassic";
  font-weight: 700;
}
/* .info_txt .info_box p {
  width: 50%;
  margin: 0 auto;
} */
.info_txt .info_box .local {
  width: 50%;
}
.info_txt .info_box .hour {
  width: 50%;
}
.btn_more a {
  padding: 10px 38px;
  border-radius: 30px;
  background: #ffbf1f;
  color: #fff;
}
/* exhibition */

.exhibi_slide {
  height: 100%;
}
.exhibi_wrap {
  width: 100%;
  background-color: #efe8df;
  flex-flow: column-reverse;
}
.exhibi_left,
.exhibi_right {
  width: 100%;
  height: 70vh;
  margin: 0 auto;
  border-radius: 20px;
}
.exhibi_left {
  position: relative;
  overflow: hidden;
}
/* -----docent----- */
.docent_container {
  width: 100%;
}
.docent_container > p {
  width: 90%;
  margin: 0 auto;
}
.docent_wrap {
  width: 100%;
  border-bottom: #f8a44a 2px solid;
  border-top: #f8a44a 2px solid;
  flex-flow: column;
  text-align: center;
  margin: calc(30px + 1vw) 0;
  background-color: #fff;

  /* background-color: #43c3ff; */
}
.docent_right,
.docent_left {
  margin: 0 auto;
  height: 70vh;
}
.docent_left {
  width: 90%;
  position: relative;
}
.docent_txt {
  font-size: calc(14px + 1vw);
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.docent_txt h2 {
  margin-bottom: 50px;
  font-size: calc(16px + 1vw);
}
.docent_txt .docent_plus {
  margin: 5vh auto;

  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: calc(20px + 1vw) 0;
  justify-content: space-between;
}
