/* 애니메이션 */
.word {
  display: flex;
  grid-column: 2;
  grid-row: auto;
  font-size: calc(20px + 2vw);
}
.word span {
  display: inline-block;
}
.title {
  grid-template-columns: auto;
  grid-template-rows: repeat(3, max-content);
  overflow: hidden;
  max-height: calc(20px + 2vw);
  margin: 40px 0;
}
@keyframes can {
  0% {
    transform: translateY(0);
  }
  26.6666666667% {
    transform: translateY(0);
    opacity: 1;
  }
  33.3333333333% {
    transform: translateY(-100%);
    opacity: 0;
  }
  33.3343333333% {
    transform: translateY(100%);
    opacity: 0;
  }
  33.3363333333% {
    transform: translateY(100%);
    opacity: 1;
  }
  93.3333333333% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes will {
  0% {
    transform: translateY(0);
  }
  26.6666666667% {
    transform: translateY(0);
  }
  33.3333333333% {
    transform: translateY(-100%);
  }
  60% {
    transform: translateY(-100%);
    opacity: 1;
  }
  66.6666666667% {
    transform: translateY(-200%);
    opacity: 0;
  }
  66.6676666667% {
    transform: translateY(0);
  }
  66.6696666667% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes thrive {
  0% {
    transform: translateY(-300%);
  }
  0.0001% {
    transform: translateY(0);
  }
  26.6666666667% {
    transform: translateY(0);
  }
  33.3333333333% {
    transform: translateY(-100%);
  }
  60% {
    transform: translateY(-100%);
  }
  66.6666666667% {
    transform: translateY(-200%);
  }
  93.3333333333% {
    transform: translateY(-200%);
    opacity: 1;
  }
  100% {
    transform: translateY(-300%);
    opacity: 0;
  }
}

.can span:nth-child(1) {
  animation: can 10s ease-in-out both 0.05s infinite;
}

.will span:nth-child(1) {
  animation: will 10s ease-in-out both 0.05s infinite;
}

.thrive span:nth-child(1) {
  animation: thrive 10s ease-in-out both 0.05s infinite;
}

.can span:nth-child(2) {
  animation: can 10s ease-in-out both 0.1s infinite;
}

.will span:nth-child(2) {
  animation: will 10s ease-in-out both 0.1s infinite;
}

.thrive span:nth-child(2) {
  animation: thrive 10s ease-in-out both 0.1s infinite;
}

.can span:nth-child(3) {
  animation: can 10s ease-in-out both 0.15s infinite;
}

.will span:nth-child(3) {
  animation: will 10s ease-in-out both 0.15s infinite;
}

.thrive span:nth-child(3) {
  animation: thrive 10s ease-in-out both 0.15s infinite;
}

.can span:nth-child(4) {
  animation: can 10s ease-in-out both 0.2s infinite;
}

.will span:nth-child(4) {
  animation: will 10s ease-in-out both 0.2s infinite;
}

.thrive span:nth-child(4) {
  animation: thrive 10s ease-in-out both 0.2s infinite;
}

.can span:nth-child(5) {
  animation: can 10s ease-in-out both 0.25s infinite;
}

.will span:nth-child(5) {
  animation: will 10s ease-in-out both 0.25s infinite;
}

.thrive span:nth-child(5) {
  animation: thrive 10s ease-in-out both 0.25s infinite;
}

.can span:nth-child(6) {
  animation: can 10s ease-in-out both 0.3s infinite;
}

.will span:nth-child(6) {
  animation: will 10s ease-in-out both 0.3s infinite;
}

.thrive span:nth-child(6) {
  animation: thrive 10s ease-in-out both 0.3s infinite;
}
.can span:nth-child(7) {
  animation: can 10s ease-in-out both 0.35s infinite;
}

.will span:nth-child(7) {
  animation: will 10s ease-in-out both 0.35s infinite;
}

.thrive span:nth-child(7) {
  animation: thrive 10s ease-in-out both 0.35s infinite;
}
.can span:nth-child(8) {
  animation: can 10s ease-in-out both 0.4s infinite;
}

.will span:nth-child(8) {
  animation: will 10s ease-in-out both 0.4s infinite;
}

.thrive span:nth-child(8) {
  animation: thrive 10s ease-in-out both 0.4s infinite;
}

/* --------info-------- */

.info_right {
  width: 90%;
  height: calc(25vh + 90vw);
  position: relative;
  overflow: hidden;
}
.info_slide {
  height: 100%;
}
.info_right .slideWrapper {
  width: 300%;
  height: 100%;
  display: flex;
}

.info_right .slideBtn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  display: flex;
  justify-content: space-between;
  text-indent: -999pc;
  overflow: hidden;
}

.info_right .slideBtn li {
  width: 10px;
  height: 10px;
  background-color: #ddd;
  border-radius: 50%;
}

.info_right .slideBtn li.active {
  background-color: #363636;
}

.info_right .slideWrapper .slidItem {
  /* text-indent: -9999px; */
  width: 100%;
  height: 100%;
  background: no-repeat 50% / cover;
  transition: 0.4s;
  text-indent: -999pc;
  /* opacity: 0; */
}
.info_right {
  position: relative;
}
/* 화살 */
.info_right .btn_arrow {
  width: 101%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 이미지 */
.info_right .slideWrapper #bg1 {
  background: url(./images/main_mo.jpg) no-repeat 50% / cover;
}

.info_right .slideWrapper #bg2 {
  background: url(./images/main_night.jpg) no-repeat 50% / cover;
}

.info_right .slideWrapper #bg3 {
  background: url(./images/main_map.png) no-repeat 50% / contain;
}
/* --------exhibi-------- */
.exhibi_left {
  width: 90%;
  height: calc(25vh + 90vw);
  position: relative;
  overflow: hidden;
}
.swiper {
  height: 100%;
}
.mySwiper1 {
  background-color: #ddd;
  height: 100%;
  overflow: hidden;

  /* 지역변수 선언 */
  --swiper-theme-color: #fff;
  --swiper-navigation-size: 2rem;
}

.mySwiper1 .swiper-slide {
  background: no-repeat 50% / cover;
}

/* 이미지 */
.swiper-slide {
  text-indent: -999pc;
}
.exhibi_left .mySwiper1 .bg1 {
  background: url(./images/exhibition1.png) no-repeat 50% / cover;
}

.exhibi_left .mySwiper1 .bg2 {
  background: url(./images/exhibition2.png) no-repeat 50% / cover;
}

.exhibi_left .mySwiper1 .bg3 {
  background: url(./images/exhibition3.png) no-repeat 50% / cover;
}
.exhibi_left .swiper-button-prev:after,
.exhibi_left .swiper-rtl .swiper-button-next:after {
  content: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='61' height='167' viewBox='0 0 61 167' fill='none'%3E%3Cpath d='M0 0L0.000195503 166.5C0.000195503 149.98 19.0315 124.794 34.65 119.408L35.2249 119.209C50.4994 113.943 60.75 99.5652 60.75 83.4081C60.75 67.2511 50.4994 52.8735 35.2249 47.6064L34.65 47.4081C19.0315 42.0224 0 16.5209 0 0Z' fill='%23F4F0ED' /%3E%3Cpath d='M33.75 106.2C46.1764 106.2 56.25 96.1264 56.25 83.7C56.25 71.2735 46.1764 61.2 33.75 61.2C21.3236 61.2 11.25 71.2735 11.25 83.7C11.25 96.1264 21.3236 106.2 33.75 106.2Z' fill='%23393939' /%3E%3Cmask id='mask0_69_97' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='20' y='72' width='28' height='23'%3E%3Cpath d='M20.25 94.5H47.25V72.9H20.25L20.25 94.5Z' fill='white' /%3E%3C/mask%3E%3Cg mask='url(%23mask0_69_97)'%3E%3Cpath d='M31.3293 94.4999L20.2441 83.6999L31.3293 72.8999L32.3818 73.7706L26.3952 82.7278L47.2496 81.9587V85.4892L26.4446 84.7201L32.3818 93.6827L31.3293 94.4999Z' fill='%23ffffff' /%3E%3Cpath d='M31.3293 94.4999L20.2441 83.6999L31.3293 72.8999L32.3818 73.7706L26.3952 82.7278L47.2496 81.9587V85.4892L26.4446 84.7201L32.3818 93.6827L31.3293 94.4999Z' fill='%23ffffff' /%3E%3C/g%3E%3C/svg%3E");
}
.exhibi_left .swiper-button-next:after,
.exhibi_left .swiper-rtl .swiper-button-prev:after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='61' height='167' viewBox='0 0 61 167' fill='none'%3E%3Cpath d='M60.75 0V166.5C60.75 149.98 41.7185 124.794 26.1 119.408L25.525 119.209C10.2506 113.943 0 99.5652 0 83.4081C0 67.2511 10.2506 52.8735 25.525 47.6064L26.1 47.4081C41.7185 42.0224 60.75 16.5209 60.75 0Z' fill='%23F4F0ED' /%3E%3Cpath d='M27.9014 61.2C15.475 61.2 5.40137 71.2735 5.40137 83.7C5.40137 96.1264 15.475 106.2 27.9014 106.2C40.3278 106.2 50.4014 96.1264 50.4014 83.7C50.4014 71.2735 40.3278 61.2 27.9014 61.2Z' fill='%23393939' /%3E%3Cmask id='mask0_69_96' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='14' y='72' width='28' height='23'%3E%3Cpath d='M41.4014 72.8999H14.4014V94.4999H41.4014V72.8999Z' fill='white' /%3E%3C/mask%3E%3Cg mask='url(%23mask0_69_96)'%3E%3Cpath d='M30.3217 72.8999L41.4069 83.6999L30.3217 94.4999L29.2692 93.6296L35.2558 84.672L14.4014 85.4411V81.9106L35.2064 82.6798L29.2692 73.7171L30.3217 72.8999Z' fill='%23ffffff' /%3E%3Cpath d='M30.3217 72.8999L41.4069 83.6999L30.3217 94.4999L29.2692 93.6296L35.2558 84.672L14.4014 85.4411V81.9106L35.2064 82.6798L29.2692 73.7171L30.3217 72.8999Z' fill='%23ffffff' /%3E%3C/g%3E%3C/svg%3E");
}

/* -------docent 슬라이드------- */

/* -------hanok 슬라이드------- */
.hanok_wrap {
  position: relative;
  height: 55vh;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  border-radius: 10px;
}

.mySwiper .swiper-slide {
  background: no-repeat 50% / cover;
  min-width: 350px;
  width: 90%;
  aspect-ratio: 4/5;
  margin: 0 5%;
}

.mySwiper .bg1 {
  background-image: url(./images/sumit1.png);
}

.mySwiper .bg2 {
  background-image: url(./images/sumit2.jpg);
}

.mySwiper .bg3 {
  background-image: url(./images/sumit3.jpeg);
}

.mySwiper .bg4 {
  background-image: url(./images/sumit4.png);
}

.mySwiper .bg5 {
  background-image: url(./images/sumit5.png);
}

.mySwiper .bg6 {
  background-image: url(./images/sumit6.png);
}

.mySwiper .bg7 {
  background-image: url(./images/sumit7.png);
}

.mySwiper .bg8 {
  background-image: url(./images/sumit8.png);
}

.slidItemtxt {
  text-align: left;
  width: 100%;
  height: 100%;
  background-color: #000000b4;
  border-radius: 10px;
  /* opacity: 0; */
  opacity: 1;
  transition: 0.3s;
}

.slidItemtxt:hover {
  opacity: 1;
}
